* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary: #ff0000;
  --dark: #272727;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #ededed;
  --white: #FFFFFF;

  --moments: #ff0000;
  --characters: #ff4d00;
  --songs: #ff7400;
  --houses: #ff9a00;
  --trailers: #ffc100;
}

html,
body {
  margin: 0;
  padding: 0;
  /*background: var(--black);*/
}

a {
  color: inherit;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}